#
# /etc/login.defs - Password and login policy
# Managed by Keystone Core Security Baseline Blueprint
#

# Mail directory
MAIL_DIR        /var/mail

# Password aging
PASS_MAX_DAYS   {{ pass_max_days }}
PASS_MIN_DAYS   {{ pass_min_days }}
PASS_WARN_AGE   {{ pass_warn_age }}

# Password length
PASS_MIN_LEN    12

# UID/GID ranges
UID_MIN         1000
UID_MAX         60000
SYS_UID_MIN     201
SYS_UID_MAX     999
GID_MIN         1000
GID_MAX         60000
SYS_GID_MIN     201
SYS_GID_MAX     999

# Create home directory on login
CREATE_HOME     yes

# Default umask
UMASK           {{ umask }}

# Enable SHA512 password hashing
ENCRYPT_METHOD  SHA512
SHA_CRYPT_MIN_ROUNDS 5000

# Allow userdel to remove group
USERGROUPS_ENAB yes

# Log successful su
SULOG_FILE      /var/log/sulog
SU_NAME         su

# Max login retries
LOGIN_RETRIES   3

# Timeout for login
LOGIN_TIMEOUT   60

# Home directory permissions
HOME_MODE       0750

# If set to MD5, MD5-based algorithm will be used for encrypting password
# If set to SHA256, SHA256-based algorithm will be used for encrypting password
# If set to SHA512, SHA512-based algorithm will be used for encrypting password
# If set to BLOWFISH, BLOWFISH-based algorithm will be used for encrypting password
# If set to DES, DES-based algorithm will be used for encrypting password (default)
MD5_CRYPT_ENAB no

# Default shell
ENV_SHELL       SHELL=/bin/sh

# Terminal permissions
TTYGROUP        tty
TTYPERM         0600

# Environment path
ENV_PATH        PATH=/usr/local/bin:/usr/bin:/bin
ENV_SUPATH      PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
